<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>RedTrunk.org: View the RMS Republic Scrapbook Pages</title>
   <meta name="description" content="A contemporary scrapbook of newspaper clippings from the 1909 RMS Republic sinking. 
      A distress call by Jack Binns using a Marconi Wireless saved all lives.">
   <link rel="preload" href="/images/md/redtrnkrep043.jpg" as="image"> <!-- Safari/Opera/Chrome -->
   <link rel="preload" href="/images/md/redtrnkrep044.jpg" as="image">
   <link rel="preload" href="/images/md/redtrnkrep045.jpg" as="image">
   <link rel="preload" href="/images/lg/redtrnkrep045.jpg" as="image">
   <link rel="preload" href="/images/md/redtrnkrep046.jpg" as="image">
   <link rel="preload" href="/images/md/redtrnkrep047.jpg" as="image">
   <link rel="prefetch" href="/images/md/redtrnkrep043.jpg"> <!-- Firefox/IE11/Edge/ -->
   <link rel="prefetch" href="/images/md/redtrnkrep044.jpg">
   <link rel="prefetch" href="/images/md/redtrnkrep045.jpg">
   <link rel="prefetch" href="/images/lg/redtrnkrep045.jpg">
   <link rel="prefetch" href="/images/md/redtrnkrep046.jpg">
   <link rel="prefetch" href="/images/md/redtrnkrep047.jpg">
   <link rel="stylesheet" href="/style.css">
</head>

<body id="view">

<header>
   <h1>Red Trunk</h1>
   <h2>Historical News Coverage<br>The Sinking of the RMS Republic</h2>
</header>

<main> <!-- page container -->

   <nav>
     <a href="/index.html" accesskey="a">About</a>
     <a href="/browse.html#p045" accesskey="b">Browse</a>
     <a href="/view/000.html" accesskey="v">View</a>
     <a href="/download.html" accesskey="d">Download</a>
     <a href="/faq.html" accesskey="q">FAQ</a>
   </nav>
   
   <section> <!-- content container -->  
      <a class="thumb last" href="044.html" accesskey="["><img src="/images/md/redtrnkrep044.jpg" alt="Last Page" width="100" height="120"></a>

      <div id="preview" >
         <img src="/images/md/redtrnkrep045.jpg" alt="Page Preview" width="500" height="600">

         <a class="btn browse" href="/browse.html#p045" data-tooltip="Browse"><span class="pagenum">45</span></a>
         <a class="btn download" href="/images/lg/redtrnkrep045.jpg" accesskey="f" data-tooltip="Download" download></a>       
         <a class="btn fullsize" href="z045.html#fullview" accesskey="s" data-tooltip="Full Size"></a>       
         <a class="btn fullwidth" href="z045.html#wideview" accesskey="w" data-tooltip="Full Width"></a>       
      </div>

      <a class="thumb next" href="046.html" accesskey="]"><img src="/images/md/redtrnkrep046.jpg" alt="Next Page" width="100" height="120"></a>   
      <p>"White Star liner is rammed and wrecked" "Repbulic sunk; 1,650 rescued here on Baltic" "Transfer by searchlight" "Crew inbound at Gay Head"</p>
   </section>
</main> 
 
<footer>
   <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">License by<span> Creative Commons</span></a>
   <p>
      <a href=https://creativecommons.org/licenses/by-nc-sa/4.0/>Created by Frederick M. Sammis</a>
      <br>Website and content licensed under <a href=https://creativecommons.org/licenses/by-nc-sa/4.0/>CC BY-NC-SA 4.0</a>
      <br>Permissions beyond the scope of this license may be available at <a href="mailto:support@redtrunk.org">support@redtrunk.org</a>
   </p>
   <a href="http://www.fastmail.fm">Powered by<span> Fastmail</span></a>     
</footer>
</body>
</html>
